body {
  margin: 0;
}

div {
  width: 200px;
  height: 200px;
  background-color: #f23f90;
}

h1 {
  background-color: pink;
  width: 200px;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 1px;
  padding-right: 2px;
  margin: 0;
}

#one {
  background-color: #f23f90;
  border-width: 6px;
  border-color: navy;
  border-style: solid;
  box-sizing: border-box;
  margin-left: 50px;
}

#two {
  background-color: #f23fd0;
  border: 6px green ridge;
  margin: 150px;
  /* border-width: 6px;
  border-color: green;
  border-style: ridge; */
}

#three {
  background-color: #f23fff;
  border: 6px ridge green;
  border-radius: 15% 30% 5% 30%;
  /* border-top-left-radius: 15%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 30%; */
}

button {
  padding: 0 20px;
}

span {
  margin-left: 30px;
  margin-top: 30px;
}